@{
    ViewData["Title"] = "Home";
}
<style>
    html, body { 
    background: url(images/opinion.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
</style>
<div class="text-center">
    <h1 class="bg-light rounded text-primary p-3 m-3 d-inline">Pollpular</h1>
</div>
<div class="row mt-3">
    <partial name="Login"></partial>
</div>